In [1]:
import numpy as np
import pandas as pd

In [2]:
from numpy.random import randn

In [3]:
np.random.seed(101)

In [6]:
df = pd.DataFrame(randn(5,4),['A','B','C','D','E'],['W','X','Y','Z'])

In [7]:
df

          W         X         Y         Z
A -0.993263  0.196800 -1.136645  0.000366
B  1.025984 -0.156598 -0.031579  0.649826
C  2.154846 -0.610259 -0.755325 -0.346419
D  0.147027 -0.479448  0.558769  1.024810
E -0.925874  1.862864 -1.133817  0.610478

In [8]:
df['W']

A   -0.993263
B    1.025984
C    2.154846
D    0.147027
E   -0.925874
Name: W, dtype: float64

In [9]:
type(df['W'])

pandas.core.series.Series

In [10]:
type(df)

pandas.core.frame.DataFrame

In [11]:
df['X']

A    0.196800
B   -0.156598
C   -0.610259
D   -0.479448
E    1.862864
Name: X, dtype: float64

In [15]:
df[['W','Z']]

          W         Z
A -0.993263  0.000366
B  1.025984  0.649826
C  2.154846 -0.346419
D  0.147027  1.024810
E -0.925874  0.610478

In [17]:
df['new'] = df['W']+ df['Y']

In [18]:
df

          W         X         Y         Z       new
A -0.993263  0.196800 -1.136645  0.000366 -2.129908
B  1.025984 -0.156598 -0.031579  0.649826  0.994405
C  2.154846 -0.610259 -0.755325 -0.346419  1.399521
D  0.147027 -0.479448  0.558769  1.024810  0.705796
E -0.925874  1.862864 -1.133817  0.610478 -2.059691

In [19]:
df.drop('new',axis =1)

          W         X         Y         Z
A -0.993263  0.196800 -1.136645  0.000366
B  1.025984 -0.156598 -0.031579  0.649826
C  2.154846 -0.610259 -0.755325 -0.346419
D  0.147027 -0.479448  0.558769  1.024810
E -0.925874  1.862864 -1.133817  0.610478

In [20]:
df

          W         X         Y         Z       new
A -0.993263  0.196800 -1.136645  0.000366 -2.129908
B  1.025984 -0.156598 -0.031579  0.649826  0.994405
C  2.154846 -0.610259 -0.755325 -0.346419  1.399521
D  0.147027 -0.479448  0.558769  1.024810  0.705796
E -0.925874  1.862864 -1.133817  0.610478 -2.059691

In [21]:
df.drop('new',axis =1,inplace=True)

In [22]:
df

          W         X         Y         Z
A -0.993263  0.196800 -1.136645  0.000366
B  1.025984 -0.156598 -0.031579  0.649826
C  2.154846 -0.610259 -0.755325 -0.346419
D  0.147027 -0.479448  0.558769  1.024810
E -0.925874  1.862864 -1.133817  0.610478

In [23]:
df.drop('E')

          W         X         Y         Z
A -0.993263  0.196800 -1.136645  0.000366
B  1.025984 -0.156598 -0.031579  0.649826
C  2.154846 -0.610259 -0.755325 -0.346419
D  0.147027 -0.479448  0.558769  1.024810

In [24]:
df

          W         X         Y         Z
A -0.993263  0.196800 -1.136645  0.000366
B  1.025984 -0.156598 -0.031579  0.649826
C  2.154846 -0.610259 -0.755325 -0.346419
D  0.147027 -0.479448  0.558769  1.024810
E -0.925874  1.862864 -1.133817  0.610478

In [26]:
#rows= 0, columns =1 (Axis System)
df.shape

(5, 4)

In [27]:
df[['Z','X']]

          Z         X
A  0.000366  0.196800
B  0.649826 -0.156598
C -0.346419 -0.610259
D  1.024810 -0.479448
E  0.610478  1.862864

In [28]:
#Rows

In [31]:
df.loc['C']

W    2.154846
X   -0.610259
Y   -0.755325
Z   -0.346419
Name: C, dtype: float64

In [30]:
df.iloc[2]

W    2.154846
X   -0.610259
Y   -0.755325
Z   -0.346419
Name: C, dtype: float64

In [32]:
df.loc['B','Y' ]

-0.031579143908112575

In [33]:
df.loc[['A','B'],['W','Y']]

          W         Y
A -0.993263 -1.136645
B  1.025984 -0.031579

In [34]:
#Conditional Selection

In [35]:
df

          W         X         Y         Z
A -0.993263  0.196800 -1.136645  0.000366
B  1.025984 -0.156598 -0.031579  0.649826
C  2.154846 -0.610259 -0.755325 -0.346419
D  0.147027 -0.479448  0.558769  1.024810
E -0.925874  1.862864 -1.133817  0.610478

In [36]:
df > 0

       W      X      Y      Z
A  False   True  False   True
B   True  False  False   True
C   True  False  False  False
D   True  False   True   True
E  False   True  False   True

In [37]:
booldf = df > 0

In [38]:
df[booldf]

          W         X         Y         Z
A       NaN  0.196800       NaN  0.000366
B  1.025984       NaN       NaN  0.649826
C  2.154846       NaN       NaN       NaN
D  0.147027       NaN  0.558769  1.024810
E       NaN  1.862864       NaN  0.610478

In [39]:
df['W'] > 0

A    False
B     True
C     True
D     True
E    False
Name: W, dtype: bool

In [40]:
df['W']

A   -0.993263
B    1.025984
C    2.154846
D    0.147027
E   -0.925874
Name: W, dtype: float64

In [41]:
df[df['W']> 0]

          W         X         Y         Z
B  1.025984 -0.156598 -0.031579  0.649826
C  2.154846 -0.610259 -0.755325 -0.346419
D  0.147027 -0.479448  0.558769  1.024810

In [42]:
df

          W         X         Y         Z
A -0.993263  0.196800 -1.136645  0.000366
B  1.025984 -0.156598 -0.031579  0.649826
C  2.154846 -0.610259 -0.755325 -0.346419
D  0.147027 -0.479448  0.558769  1.024810
E -0.925874  1.862864 -1.133817  0.610478

In [43]:
df[df['Z']<0]

          W         X         Y         Z
C  2.154846 -0.610259 -0.755325 -0.346419

In [44]:
resultdf = df[df['Z']>0]

In [45]:
resultdf

          W         X         Y         Z
A -0.993263  0.196800 -1.136645  0.000366
B  1.025984 -0.156598 -0.031579  0.649826
D  0.147027 -0.479448  0.558769  1.024810
E -0.925874  1.862864 -1.133817  0.610478

In [46]:
resultdf['X']

A    0.196800
B   -0.156598
D   -0.479448
E    1.862864
Name: X, dtype: float64

In [47]:
df[df['W']>0]['X']

B   -0.156598
C   -0.610259
D   -0.479448
Name: X, dtype: float64

In [48]:
df[df['W']>0][['Y','X']]

          Y         X
B -0.031579 -0.156598
C -0.755325 -0.610259
D  0.558769 -0.479448

In [50]:
boolser = df['W'] > 0
result = df[boolser]

In [51]:
boolser

A    False
B     True
C     True
D     True
E    False
Name: W, dtype: bool

In [52]:
result

          W         X         Y         Z
B  1.025984 -0.156598 -0.031579  0.649826
C  2.154846 -0.610259 -0.755325 -0.346419
D  0.147027 -0.479448  0.558769  1.024810

In [53]:
mycols = ['Y','X']
result[mycols]

          Y         X
B -0.031579 -0.156598
C -0.755325 -0.610259
D  0.558769 -0.479448

In [54]:
#Multiple conditions

In [55]:
df[(df['W']> 0) and (df['Y']>1)]  #only one boolean

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [58]:
df[(df['W']< 0) & (df['Y']<1)]  #and

          W         X         Y         Z
A -0.993263  0.196800 -1.136645  0.000366
E -0.925874  1.862864 -1.133817  0.610478

In [59]:
df[(df['W']< 0) | (df['Y']<1)] #or

          W         X         Y         Z
A -0.993263  0.196800 -1.136645  0.000366
B  1.025984 -0.156598 -0.031579  0.649826
C  2.154846 -0.610259 -0.755325 -0.346419
D  0.147027 -0.479448  0.558769  1.024810
E -0.925874  1.862864 -1.133817  0.610478

In [60]:
df

          W         X         Y         Z
A -0.993263  0.196800 -1.136645  0.000366
B  1.025984 -0.156598 -0.031579  0.649826
C  2.154846 -0.610259 -0.755325 -0.346419
D  0.147027 -0.479448  0.558769  1.024810
E -0.925874  1.862864 -1.133817  0.610478

In [61]:
df.reset_index()

  index         W         X         Y         Z
0     A -0.993263  0.196800 -1.136645  0.000366
1     B  1.025984 -0.156598 -0.031579  0.649826
2     C  2.154846 -0.610259 -0.755325 -0.346419
3     D  0.147027 -0.479448  0.558769  1.024810
4     E -0.925874  1.862864 -1.133817  0.610478

In [62]:
df

          W         X         Y         Z
A -0.993263  0.196800 -1.136645  0.000366
B  1.025984 -0.156598 -0.031579  0.649826
C  2.154846 -0.610259 -0.755325 -0.346419
D  0.147027 -0.479448  0.558769  1.024810
E -0.925874  1.862864 -1.133817  0.610478

In [63]:
df.reset_index(inplace=True)

In [64]:
df

  index         W         X         Y         Z
0     A -0.993263  0.196800 -1.136645  0.000366
1     B  1.025984 -0.156598 -0.031579  0.649826
2     C  2.154846 -0.610259 -0.755325 -0.346419
3     D  0.147027 -0.479448  0.558769  1.024810
4     E -0.925874  1.862864 -1.133817  0.610478

In [65]:
newind = 'CA NY WY OR CO'.split()

In [66]:
newind

['CA', 'NY', 'WY', 'OR', 'CO']

In [67]:
'CA NY WY OR CO'.split()

['CA', 'NY', 'WY', 'OR', 'CO']

In [68]:
newind

['CA', 'NY', 'WY', 'OR', 'CO']

In [69]:
df['States'] = newind

In [70]:
df

  index         W         X         Y         Z States
0     A -0.993263  0.196800 -1.136645  0.000366     CA
1     B  1.025984 -0.156598 -0.031579  0.649826     NY
2     C  2.154846 -0.610259 -0.755325 -0.346419     WY
3     D  0.147027 -0.479448  0.558769  1.024810     OR
4     E -0.925874  1.862864 -1.133817  0.610478     CO

In [72]:
df.set_index('States')

       index         W         X         Y         Z
States
CA         A -0.993263  0.196800 -1.136645  0.000366
NY         B  1.025984 -0.156598 -0.031579  0.649826
WY         C  2.154846 -0.610259 -0.755325 -0.346419
OR         D  0.147027 -0.479448  0.558769  1.024810
CO         E -0.925874  1.862864 -1.133817  0.610478

In [73]:
df

  index         W         X         Y         Z States
0     A -0.993263  0.196800 -1.136645  0.000366     CA
1     B  1.025984 -0.156598 -0.031579  0.649826     NY
2     C  2.154846 -0.610259 -0.755325 -0.346419     WY
3     D  0.147027 -0.479448  0.558769  1.024810     OR
4     E -0.925874  1.862864 -1.133817  0.610478     CO

In [75]:
df.set_index('States', inplace=True)

In [76]:
df

       index         W         X         Y         Z
States
CA         A -0.993263  0.196800 -1.136645  0.000366
NY         B  1.025984 -0.156598 -0.031579  0.649826
WY         C  2.154846 -0.610259 -0.755325 -0.346419
OR         D  0.147027 -0.479448  0.558769  1.024810
CO         E -0.925874  1.862864 -1.133817  0.610478

In [77]:
#Multi Index and Index Hierarchy

In [78]:
# Index Levels
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [79]:
outside

['G1', 'G1', 'G1', 'G2', 'G2', 'G2']

In [80]:
inside

[1, 2, 3, 1, 2, 3]

In [81]:
hier_index

MultiIndex(levels=[['G1', 'G2'], [1, 2, 3]],
           labels=[[0, 0, 0, 1, 1, 1], [0, 1, 2, 0, 1, 2]])

In [82]:
list(zip(outside,inside))

[('G1', 1), ('G1', 2), ('G1', 3), ('G2', 1), ('G2', 2), ('G2', 3)]

In [83]:
df = pd.DataFrame(randn(6,2),hier_index,['A','B'])

In [84]:
df

             A         B
G1 1  0.386030  2.084019
   2 -0.376519  0.230336
   3  0.681209  1.035125
G2 1 -0.031160  1.939932
   2 -1.005187 -0.741790
   3  0.187125 -0.732845

In [85]:
df.loc['G1']

          A         B
1  0.386030  2.084019
2 -0.376519  0.230336
3  0.681209  1.035125

In [86]:
df.loc['G2']

          A         B
1 -0.031160  1.939932
2 -1.005187 -0.741790
3  0.187125 -0.732845

In [87]:
df.index.names

FrozenList([None, None])

In [88]:
df.index.names = ['Groups','Num']

In [89]:
df

                   A         B
Groups Num
G1     1    0.386030  2.084019
       2   -0.376519  0.230336
       3    0.681209  1.035125
G2     1   -0.031160  1.939932
       2   -1.005187 -0.741790
       3    0.187125 -0.732845

In [92]:
df.loc['G2'].loc[2]['B']

-0.74178970466892491

In [93]:
df.loc['G1'].loc[3]['A']

0.68120929258675744

In [96]:
df.xs('G1')

            A         B
Num
1    0.386030  2.084019
2   -0.376519  0.230336
3    0.681209  1.035125

In [97]:
df.xs(1,level = 'Num')

              A         B
Groups
G1      0.38603  2.084019
G2     -0.03116  1.939932